In [ ]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [ ]:
# Read the CSV files into DataFrames.
df2020 = pd.read_csv("athletic_sales_2020.csv")
df2021 = pd.read_csv("athletic_sales_2021.csv")

In [ ]:
# Display the 2020 sales DataFrame
print("2020 Sales Data: ")
print(df2020)

In [ ]:
# Display the 2021 sales DataFrame
print("2020 Sales Data: ")
print(df2020)

#### Check the data types of each DataFrame

In [ ]:
# Check the 2020 sales data types.
print("Data Types of 2020 Sales Data: ")
print(df2020.dtypes)

In [ ]:
# Check the 2021 sales data types.
print("Data Types of 2021 Sales Data: ")
print(df2021.dtypes)

#### Combine the sales data by rows.

In [ ]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df2020, df2021], ignore_index= True)
print("Combined Sales Data: ")
print(combined_df)

In [ ]:
# Check if any values are null.
null_check = combined_df.isnull()
print(null_check)

In [ ]:
# Check the data type of each column
print("Combined Sales Data: ")
print(combined_df.dtypes)

In [ ]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice date'] = pd.to_datetime(combined_df['invoice_date'])

In [ ]:
# Confirm that the "invoice_date" data type has been changed.
invoice_date_type = combined_df['invoice date'].dtype
print("Data type of 'invoice date' column:", invoice_date_type)

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [ ]:
# Show the number products sold for region, state, and city.
result_df = combined_df.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()
# Rename the sum to "Total_Products_Sold".
result_df.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)
print(result_df)

# Show the top 5 results.
top_5_results = result_df.head(5)

print(top_5_results)

#### Using `pivot_table`

In [ ]:
# Show the number products sold for region, state, and city.
pivot_table_result = combined_df.pivot_table(index=['region', 'state', 'city'], values='units_sold', aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table_result.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table_result.head(5)
print(top_5_results)

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
result_df2 = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
result_df2.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_results = result_df2.head(5)
print(top_5_results)

#### Using `pivot_table`

In [ ]:
pivot_table_result = combined_df.pivot_table(index=['region'], values='total_sales', aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_result.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results
top_5_results = pivot_table_result.head(5)

print(top_5_results)

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
sales_by_retailer = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
sales_by_retailer.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
max_sales = sales_by_retailer.groupby('retailer')['Total Sales'].sum().max()

# Show the top 5 results.
top_5_results = sales_by_retailer.head(5)
print(top_5_results)

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_table_result = combined_df.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_result.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table_result.head(5)
print(top_5_results)

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
result_df = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
result_df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_results = result_df.head(5)
print(top_5_results)

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table_result = womens_athletic_footwear_sales.pivot_table(index=['retailer', 'region', 'state', 'city'],values='units_sold', aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table_result.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_results = pivot_table_result.head(5)
print(top_5_results)

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
womens_athletic_footwear_sales['invoice_date'] = pd.to_datetime(womens_athletic_footwear_sales['invoice_date'])
pivot_table_result = womens_athletic_footwear_sales.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_result.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print(pivot_table_result)

In [79]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table_result.resample('D').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
sorted_daily_sales = daily_sales.sort_values(by='Total Sales', ascending=True)
print(sorted_daily_sales)

              Total Sales
invoice_date
2021-01-01              0
2020-10-10              0
2020-10-09              0
2020-10-07              0
2020-10-06              0
...                   ...
2021-07-23        1021806
2021-08-17        1086294
2021-06-17        1376988
2021-12-16        1473497
2021-07-16        1521825

[727 rows x 1 columns]

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [82]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_table_result.resample('W').sum()
# Sort the resampled pivot table in ascending order on "Total Sales".
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=True)
print(sorted_weekly_sales)

              Total Sales
invoice_date
2020-10-18              0
2020-11-22          53940
2020-12-13          58916
2020-12-20          61710
2020-12-06          62801
...                   ...
2021-11-14        2531721
2021-07-18        2801449
2021-07-11        2835078
2021-12-12        2922161
2021-12-19        3098970

[105 rows x 1 columns]